.root {
  position: relative;

  &__filterValues {
    position: absolute;
    top: 50px;
    background-color: white;
    z-index: 2;

    &__submitBtnWrapper {
      width: 100%;
      padding: 24px;
    }

    &__title {
      display: block;
    }
  }
}
